@keyframes intoScreen {
    from {
        transform: translateY(-150%); /* Start off-screen */
        opacity: 30%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes outScreen {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-150%);
    }
}

.navigation{
    /* Orientation */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0px;

    /* Coloring/styling */
    background-color: #D9DFC6;
    border-radius: 10px;
    z-index: 100;

}

.navigation.intoScreen{
    animation: intoScreen 1s forwards;
}

.navigation.outScreen{
    animation: outScreen 1s forwards;
}

.navigation .navlinks{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

p{
    font-size: 50px;
}