@keyframes textFadeIn {
    from{
        opacity: 0%;
        visibility: hidden;
    }
    to{
        visibility: visible;
        opacity: 100%;
    } 
}
@keyframes textFadeOut {
    from{
        visibility: visible;
        opacity: 100%;
    }
    to{
        opacity: 0%;
        visibility: hidden;
    } 
}

div.standard{
    border-radius: 5vh;
    text-align: center;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25vh;
    color: rgb(41, 41, 41);
    font-size: 5vh;
}
p.sp{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(99, 154, 237);
    background-clip: padding-box;
    width: 90%;
    padding: 10px;
    border-radius: 15px;
}
p.signature{
    z-index: 9;
    position:absolute;
    top: 56%;
    left: 86.88%;
    transform: translate(-50%, -50%);
    background-color: rgb(99, 154, 237);
    color: black;
    text-align: center;
    font-size: 4vh;
    visibility: visible;
    background-clip: padding-box;
    border-radius: 5vh;
    padding: 18px;
    padding-top: 80px;
    padding-left: 60px;
    width: max-content;
    outline-style: dashed;
    outline-width: 2vh;
    outline-color: black;
}

/* creates better fitting background using width and padding
p.test{
    visibility: visible;
    margin-top: 10px;
    background-clip: padding-box;
    background-color: rgb(136, 179, 217);
    border-radius: 5vh;
    color: black;
    padding: 5px;
    width: max-content;
}
    */

p.intro {
    position: absolute; 

    /*Positions the top-left corner*/
    top: 100%;
    left: 50%;

    /*Move the element back by 50% its own width and height*/
    transform: translate(-50%, -50%);
    font-size: 4vw;
    text-align: center;
    visibility: visible;
}

p.subtext{
    position: absolute; 

    /*Positions the top-left corner*/
    top: 100%;
    left: 50%;
    margin-top: 1000px;

    /*Move the element back by 50% its own width and height*/
    transform: translate(-50%, -50%);
    font-size: 4vw;
    text-align: center;
    visibility: visible;
}

p.size{
    margin-top: 10000px;
}